.contactFormContainer {
    width: 50vw;
    height: 50vh;

    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 25%;

    background: linear-gradient(120deg, rgb(110, 223, 255), #005C82);

    border-radius: 10px;

    -webkit-box-shadow: 10px 7px 34px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 7px 34px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 7px 34px 1px rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactFormContainer p {
    margin-top: 20px;
    color: white;
}

.contactFormContainer input {
    border-radius: 8px;
    border-color: transparent;

    background-color: white;
}

.contactFormContainer button {
    height: 50px;
    margin-top: 20px;

    border-radius: 10px;
    border: 1px solid white;

    background: linear-gradient(to right, #005C82 30%, transparent 50%);
    background-size: 300px;
    background-position: left;
    transition: background-position 0.9s;

    color: white;
}

.contactFormContainer button:hover {
    background-position: right;
}