.portfolioController {
    width: 100vw;
    height: 100vh;

    background: radial-gradient(rgb(17, 17, 17), rgb(0, 0, 0));

    position: fixed;
    overflow-x: hidden;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* buttons */

.leftButton {
    position: fixed;
    left: 0;
    width: 5%;
    height: 100%;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rightButton {
    position: fixed;
    right: 0;
    width: 5%;
    height: 100%;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons */


.nameContainer {
    height: 15vw;
}


.welcomeContainer {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.welcomeTitle {
    color: white;
    font-size: 5vw;

    user-select: none;
}

.instructions {
    color: white;
    font-size: 2vw;

    user-select: none;
}

.instructionsMobile {
    color: white;
    font-size: 1.5vw;

    user-select: none;
}

kbd {
    background-color: rgb(36, 35, 35);
    padding: 10px;
    border: 4px;
    border-radius: 5px;
    box-shadow: -1px -2px 1px rgb(112, 112, 112);
    cursor: pointer;
}

.aboutMeContainer {
    color: white;
    height: 100%;
    position: absolute;
    right: -50vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.aboutMeImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeImg {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}

.welcomeMsg {
    color: white;
    font-size: 8vw;
}

.aboutMeTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.aboutInformation {
    text-align: center;
    font-size: 1.8vw;
}

.aboutMeImg {
    width: 30vw;
    height: 30vw;
}

/* portal container */

.portal {
    width: 100px;
    height: 100%;

    position: absolute;
    right: -60vw;

    background-color: white;

    clip-path: polygon(82% 0, 73% 16%, 76% 65%, 72% 83%, 93% 100%, 50% 100%, 24% 100%, 35% 74%, 48% 40%, 7% 0);
}