.portfolioController {
    width: 100%;
    height: 100%;

    background-color: black;

    position: fixed;
    overflow-x: hidden;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* buttons */

.leftButton {
    position: fixed;
    left: 0;
    width: 10%;
    height: 100%;

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightButton {
    position: fixed;
    right: 0;
    width: 10%;
    height: 100%;

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About me information */


.nameContainer {
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeContainer {
    height: 100%;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomeTitle {
    color: white;
    font-size: clamp(20px, 5vw, 40px);

    user-select: none;
}

.instructions {
    color: white;
    font-size: clamp(15px, 2vw, 25px);

    user-select: none;
}

.instructionsMobile {
    color: white;
    font-size: clamp(12px, 2vw, 22px);

    user-select: none;
}

kbd {
    background-color: rgb(36, 35, 35);
    padding: 10px;
    border: 4px;
    border-radius: 5px;
    box-shadow: -1px -2px 1px rgb(112, 112, 112);
    cursor: pointer;
}

/* About me */

.aboutMeContainer {
    color: white;
    height: 100%;
    width: 200vw;
    position: absolute;
    right: -140vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.aboutMeImgContainer {
    width: clamp(10vw, 300px, 20vw);
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeImg {
    border-radius: 50%;
}

.welcomeMsg {
    color: white;
    font-size: 8vw;
}

.aboutMeTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.aboutInformation {
    text-align: center;
    font-size: clamp(10px, 1.8vw, 20px)
}

.aboutMeImg {
    width: clamp(15vw, 30vw, 35vw);
    height: clamp(15vw, 30vw, 35vw);
}

/* Projects */

.mainProjectsContainer {
    position: absolute;
    right: -210vw;
    width: 110vw;
    height: 90%;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.mainProjectTitle {
    font-size: clamp(20px, 5vw, 35px);
    color: white;
}

.projectsContainerOne {
    font-size: clamp(7px, 2vw, 17px);
    color: #cacdc8;
    margin: 20px;

    width: 130vw;
    height: 100%;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.projectsContainerTwo {
    font-size: clamp(7px, 2vw, 17px);
    color: #cacdc8;
    margin: 20px;

    width: 130vw;
    height: 100%;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.projectsContainerThree {
    font-size: clamp(7px, 2vw, 17px);
    color: #cacdc8;
    margin: 20px;

    width: 130vw;
    height: 100%;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.projectsContainerTwo:hover {
    color: #f4f7f3;
}

.projectsContainerOne:hover {
    color: #f4f7f3;
}

.projectTitle {
    color: #fcfefb;
    font-size: clamp(20px, 10vw, 30px);
}

.projectButton {
    color: #67e528;
    text-align: center;
    border: 1px solid #67e528;
    border-radius: 10px;
    transition: transform 0.5s ease;

    width: 300px;
}

.notAvailableBtn {
    color: #cacdc8;
    text-align: center;
    border: 1px solid #fcfefb;
    border-radius: 10px;

    transition: transform 0.5s ease;
    width: 300px;
}

.notAvailableBtn:hover {
    color: #edf1eb;
    cursor: no-drop;
}

.projectButton:hover {
    color: #67e528;
    transform: scale(1.1);
    cursor: pointer;
}

/* Skills container styles */

.skillsMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -290vw;
    width: 70vw;
    height: 90%;
}

.skillsContainer {
    width: 30vw;
    height: 500px;

    border: 0px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

.skillsTitle {
    color: white;
}

/* Contact me */

.contactMeContainer {
    width: clamp(10vw, 20vw, 30vw);
    font-size: clamp(14px, 10vw, 16px);
    height: 50px;

    background-color: transparent;
    border: 2px solid #b4e5af;

    position: fixed;
    top: 1vw;
    left: -100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: width 0.5s ease;

    color: #b4e5af;
    font-weight: bolder;
    font-size: 2em;

    animation: show 2s ease forwards;
}

@keyframes show {
    0% {
        left: -90vw;
    }

    25% {
        left: -60vw;
    }

    50% {
        left: -30vw;
    }

    75% {
        left: 0vw;
    }

    100% {
        left: 1vw;
    }
}


.contactMeContainer:hover {
    cursor: pointer;
    width: 25vw;
    overflow: hidden;
}

/* Media queries */


@media (max-width: 425px) {
    .contactMeContainer {
        width: 30vw;
        font-size: clamp(14px, 3vw, 18px)
    }
}

@media (max-width: 320px) {
    .contactMeContainer {
        font-size: clamp(14px, 3vw, 18px);
        width: 30vw;
    }
}

@media (max-width: 500px) {
    .projectInfo {
        font-size: clamp(11px, 1.8vw, 12px);
    }
}

@media (max-width:920px) {
    .contactMeContainer {
        font-size: clamp(14px, 3vw, 18px);
    }
}

@media (max-width: 1200px) {
    .skillsMainContainer {
        right: -350vw;
    }
}

@media (max-width: 900px) {
    .skillsMainContainer {
        right: -390vw;
    }
}

@media (max-width: 635px) {
    .skillsMainContainer {
        right: -450vw;
    }
}

@media (max-width: 460px) {
    .skillsMainContainer {
        right: -550vw;
    }
}

@media (max-width: 312px) {
    .skillsMainContainer {
        right: -580vw;
    }
}