.servicesController {
    position: absolute;
    width: 100vw;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -350vw;
    width: 100vw;
    color: white;
}

.title {
    color: white;
    margin: 20px;
}

.servicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services {
    font-size: clamp(1.5rem, 3vw, 2rem);
}